
.validation-message {
    color: #e74a3b;
    font-size: smaller;
    border: solid 1px #e74a3b;
    border-radius: 3px;
    padding: 2px;
    background-color: bisque;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    font-style: italic;
  }

  .required-field {
    color: #e74a3b;
  }
  .padding-custom{
 padding: 1.5rem;
  }

  .spinner-aligning {
    text-align: center;
    padding: 4rem;
}