.spinner-aligning {
    text-align: center;
    padding: 4rem;
}

.toggle-i{
    margin-top: 10px;
    font-size:20px;
    color:#1cc88a;
    
  }

  .country-img {
    height: 15px;
    width: 22px;
    margin-top: -3px;
  }


