@import '../../wallet-owner.component.css';

.full-width {
    width: 100%;
}

.file-upload-progress {
    width: 50%;
    margin-left: -2rem;
    margin-top: .5rem;
}

.upload-margin {
    margin-bottom: .5rem;
}
.margin-r-1 {
    margin-right: 1rem;
}
.block {
    display: block;
}