<div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">{{'TEMPLATE.template.view.slab' | translate}}</h6>

</div>
<div class="modal-body">

    <!-- <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >Service</label>
            <input type="text" class="form-control" value="{{data.serviceName}}" readonly>
        </div>
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >Service Category</label>
            <input type="text" class="form-control" value="{{data.serviceCategoryName}}" readonly>
        </div>
    </div> -->
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.service.provider' | translate}}</label>
            <input type="text" class="form-control" value="{{data.serviceProviderName}}" readonly>
        </div>
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.channel.type' | translate}}</label>
            <input type="text" class="form-control" value="{{data.channelTypeName}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.fee.debit.from' | translate}}</label>
            <input type="text" class="form-control" value="{{data.bearerName}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.fee.range' | translate}}</label>
            <input type="text" class="form-control" value="{{data.minValue}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >&nbsp;</label>
            <input type="text" class="form-control" value="{{data.maxValue}}" readonly>
        </div>
     </div>
     <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.calculation.type' | translate}}</label>
            <input type="text" class="form-control" value="{{data.calculationTypeName}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.fixed.value' | translate}}</label>
            <input type="text" class="form-control" value="{{data.fixedFeeValue}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.value.percent' | translate}}</label>
            <input type="text" class="form-control" value="{{data.percentFeeValue}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.tax.settlement.account' | translate}}</label>
            <input type="text" class="form-control" value="{{data.taxAccountName}}" readonly>
        </div>
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.tax.type' | translate}}</label>
            <!-- <input type="text" class="form-control" value="{{data.taxTypeName}}" readonly> -->
            <ng-multiselect-dropdown #multiSelect  *ngIf="istaxtype"
            [placeholder]="'Select tax Type'" 
            [data]="taxTypeList" 
            [formControl]="f1.taxTypeCode" 
            [settings]="settings"f
            [disabled]="true"
         
            >
              </ng-multiselect-dropdown>
       
        </div>
        
    </div>
    
    
 
<div class="modal-footer">
    <button type="button" (click)="activeModal.close('Close click')" class="btn btn-danger px-3"><i
            class="fas fa fa-times"></i> {{'TEMPLATE.template.close' | translate}}</button>
 </div>