<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{'COUNTRY.countryTitle' |  translate}}</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12">
        <div class="card shadow mb-4">
            <div class="form-group row">
                <div class="card-body col-xl-4 col-lg-4 col-sm-4 parallel-col-margin text-center">
                    <div class="region-currency-icon">
                        <a [routerLink]="['region']">
                            <i class="fas fa-globe text-primary"></i>
                            <p>{{'COUNTRY.regionTitle' |  translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="card-body col-xl-4 col-lg-4 col-sm-4 parallel-col-margin text-center">
                    <div class="region-currency-icon">
                        <a [routerLink]="['remittance']">
                            <i class="fas fa-exchange-alt text-primary"></i>
                            <p>{{'COUNTRY.remittanceTitle' |  translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="card-body col-xl-4 col-lg-4 col-sm-4 parallel-col-margin text-center">
                    <div class="region-currency-icon">
                        <a [routerLink]="['currency']">
                            <i class="fas fa-money text-primary"></i>
                            <p>{{'COUNTRY.currencyTitle' |  translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>