 
<div class="col-xl-12 col-lg-12">
  <div class="card shadow mb-4">
      <div class="card-header">
          <h6   class="m-0 font-weight-bold text-primary">{{ 'CHANGE_PASSWORD.changePasswordTxt' | translate }}</h6>
       </div>
       <div class="table-responsive">
      <div class="card-body">
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        
          <div   class="row justify-content-center align-items-right">
            <div class="col-lg-5 text-right">
            
            <form [formGroup]="changePasswordFormGroup"  >
              <div class="form-group row"></div>
              <!-- <div class="form-group row"></div>
              <div class="form-group row"></div>
              <div class="form-group row"></div> -->

                <div class="form-group row">
                 
                   
                      <div class="col-sm-4 text-right">
                        <label translate>{{ 'CHANGE_PASSWORD.username' | translate }}</label>
                      </div>
                      <div class="col-sm-7  text-left">
                        <input type="text"  value="  {{loginuserId}}"
                        class="form-control" id="confirm_password" disabled >
                      
                      </div>
                      <!-- <div class="col-md-2"></div> -->
                   
                  </div>
              <div class="form-group row">
                
                  <div class="col-sm-4 text-right">
                    <label  translate>{{ 'CHANGE_PASSWORD.oldPasswordTxt' | translate }}<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-sm-7 text-left">
                    <input type="password" 
                   class="form-control" id="old_password" formControlName="oldPassword"
                      maxlength="12" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" >              
                    
                     <span *ngIf="submitted && f.oldPassword.errors" class="validation-message">
                         <div *ngIf="f.oldPassword.errors.required" translate> {{ 'CHANGE_PASSWORD.pleaseenter' | translate }} {{ 'CHANGE_PASSWORD.oldPasswordTxt' | translate }}</div>
                     </span>
                   

                  </div>
                  <!-- <div class="col-md-4 "></div> -->
                
              </div>       
              <div class="form-group row">
               
                  <div class="col-sm-4 text-right">
                    <label for="newPassword" translate>{{ 'CHANGE_PASSWORD.newPasswordTxt' | translate }}<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-sm-7  text-left">
                    <input type="password"  
                    class="form-control" id="new_password" 
                    formControlName="newPassword" 
                     maxlength="25"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" > 
                    <span *ngIf="submitted && f.newPassword.errors" class="validation-message">
                      <div *ngIf="f.newPassword.errors.required" translate>{{ 'CHANGE_PASSWORD.pleaseenter' | translate }} {{ 'CHANGE_PASSWORD.newPasswordTxt' | translate }}</div>
                      <div *ngIf="f.newPassword.errors.pattern" translate>{{ 'CHANGE_PASSWORD.pleasereferthepasswordpolicy' | translate }} </div>
                   </span>
                  </div>
                <!-- <div class="col-md-4">
                  <i class="fas fa-info-circle"aria-hidden="true"  placement="bottom-right"
                  [ngbTooltip]="passwordhintContent" ></i>
                </div>   -->
             
              </div>   
              <div class="form-group row">
               
                  <div class="col-sm-4 text-right">
                    <label translate>{{ 'CHANGE_PASSWORD.confirmPasswordTxt' | translate }}<span style="color : red;">*</span></label>
                  </div>
                  <div class="col-sm-7  text-left">
                          <input type="password" 
                          class="form-control" id="confirm_password" 
                          formControlName="confirmPassword" 
                           maxlength="25"
                          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" > 
                          <span *ngIf="submitted && f.confirmPassword.errors" class="validation-message">
                            <div *ngIf="f.confirmPassword.errors.required" translate>{{ 'CHANGE_PASSWORD.pleaseenter' | translate }} {{ 'CHANGE_PASSWORD.confirmPasswordTxt' | translate }}</div>
                          </span>
                        </div>     
                  </div>
             
         
              <div class="form-group row">
                <div class="col-sm-11   text-right">
                  <button type="button" (click)="backToDashBoard()" class="btn btn-danger px-3">
                    <i class="fas fa-arrow-circle-left"></i>
                    {{'USER.button.back' | translate}}</button>&nbsp;&nbsp;
                    <button   (click)="onSubmit()" class="btn btn-primary px-3">
                      <i class="fas fa-save"></i> {{ 'CHANGE_PASSWORD.save' | translate }}</button>
                 </div>
              </div>
                
            </form>
            
          </div>
          <div class="col-lg-3 mt-5 text-left">
            <div class="card final-free-card">
              <div class="card-header">{{ 'CHANGE_PASSWORD.password.policy' | translate }}</div>
              <div class="card-body final-free-card-bg">
                <div> {{ 'CHANGE_PASSWORD.password.length' | translate }}</div>
                <div>{{ 'CHANGE_PASSWORD.password.character' | translate }}</div>
                <div>{{ 'CHANGE_PASSWORD.password.condition' | translate }}</div>
            </div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
 
