<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    
    <div class="col-md-9">
        <ol class="breadcrumb">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
                <li class="breadcrumb-item" *ngIf="!last" (click)="redirectToUrl(url.url)">
                    <a href='javascript:void(0)' translate>{{url.title}}</a>
                </li>
                <li class="breadcrumb-item active" *ngIf="last" translate>{{url.title}}</li>
            </ng-template>
        </ol>
    </div>

    <!-- <div class="col-md-3 align-self-center">
        <h4 class="text-themecolor m-b-0" translate>{{pageInfo?.title}}</h4>
    </div> -->
    
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
