@import '../add-wallet-owner.component.css';

.form-check-radio{
    position: relative;
    padding-left: 1.5rem;
}

.radio-margin-left{
    margin-left: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
   
  text-align:left;
}