.multiselect-dropdown[_ngcontent-hcl-c7] .dropdown-btn[_ngcontent-hcl-c7] .selected-item[_ngcontent-hcl-c7] {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #337ab7;
    padding: 0 5px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
}
.required-field {
    color: #e74a3b;
  }
 