.spinner-aligning {
    text-align: center;
    padding: 4rem;
}

.toggle-i{
    margin-top: 10px;
    font-size:20px;
    color:#1cc88a;
    
  }
  .note {
    color: red;
    width: 100%;
    font-size: 12px;
    text-transform: lowercase;
    text-align: right;
    padding: 1rem;
    font-style: italic;
}
  .country-img {
    height: 15px;
    width: 22px;
    margin-top: -3px;
  }
  /* ::ng-deep .custom-file-input{
    opacity : 1;
  } */

  .required-field {
    color: #e74a3b;
  }
  
  .validation-message {
    color: #e74a3b;
    font-size: smaller;
    /* border: solid 1px #e74a3b; */
    border-radius: 3px;
    padding: 2px;
    /* background-color: bisque; */
    display: block;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    font-style: italic;
    overflow-wrap: break-word;
  }

  .disable-option {
    background-color: lightsteelblue;
   
    cursor: not-allowed;
  }

  ::ng-deep .custom-control-input{
    vertical-align: top;
  }
  ::ng-deep .custom-control{
    vertical-align: top;
  }
  ::ng-deep .custom-control-label{
    vertical-align: top;
  }
  ::ng-deep .custom-control, custom-switch{
    vertical-align: top;
  }
  .country-img {
    height: 15px;
    width: 22px;
    margin-top: -3px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
     
    text-align:right;
  }