<div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">{{'TEMPLATE.template.view.service' | translate}}</h6>

</div>
<div class="modal-body">

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.service' | translate}}</label>
            <input type="text" class="form-control" value="{{data.serviceName}}" readonly>
        </div>
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.service.category' | translate}}</label>
            <input type="text" class="form-control" value="{{data.serviceCategoryName}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.service.provider' | translate}}</label>
            <input type="text" class="form-control" value="{{data.serviceProviderName}}" readonly>
        </div>
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.channel.type' | translate}}</label>
            <input type="text" class="form-control" value="{{data.channelTypeName}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.trans.type' | translate}}</label>
            <input type="text" class="form-control" value="{{data.transTypeName}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.minimum.tran.value' | translate}}</label>
            <input type="text" class="form-control" value="{{data.minTransValue}}" readonly>
        </div>
        <div class="col-sm-3">
            <label for="name"  class="custom-label" >{{'TEMPLATE.template.maximum.tran.value' | translate}}</label>
            <input type="text" class="form-control" value="{{data.maxTransValue}}" readonly>
        </div>
    </div>
 
<div class="modal-footer">
    <button type="button" (click)="activeModal.close('Close click')" class="btn btn-danger px-3"><i
            class="fas fa fa-times"></i> {{'TEMPLATE.template.close' | translate}}</button>
 </div>