<div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">{{'WALLET.edit.commission.wallet' | translate}}</h6>

</div>
<div class="modal-body">
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="code" class="custom-label" translate>{{'WALLET.wallet.owner.name' | translate}}
            </label>
            <input value="{{wallet.walletOwnerName}}" type="text" class="form-control" id="code" readonly>
        </div>
        <div class="col-sm-6">

            <label for="role_code" class="custom-label" translate>{{'WALLET.currency.name' | translate}}
            </label>

            <input value="{{wallet.currencyName}}" type="text" class="form-control" id="role_code" readonly>

        </div>

    </div>
  
    <hr>
    <label   for="last_name" class="custom-label" translate><h6>{{'WALLET.commision.wallet' | translate}} </h6></label>
    <br>  <br> 
    <div   class="form-group row">
        <div  class="col-sm-3">
            <label for="last_name" class="custom-label" translate>{{'WALLET.value' | translate}}</label>

            <input *ngIf="wallet.commisionWalletvalue!='0'" value="{{wallet.commisionWalletvalue==undefined || null || 0 ?'0.00': (wallet.commisionWalletvalue).toFixed(2)}}" type="text" class="form-control" readonly >
            <input *ngIf="wallet.commisionWalletvalue=='0'" value="{{wallet.commisionWalletvalue==undefined || null || '0' ?'0.00': (wallet.commisionWalletvalue).toFixed(2)}}" type="text" class="form-control" readonly >
 
        </div>
        <div class="col-sm-3">
            <label for="commisionMinValue" class="custom-label" translate>{{'WALLET.min.value' | translate}} </label>

            <input *ngIf="wallet.commisionMinValue!='0'" value="{{wallet.commisionMinValue==undefined  || null || 0?'0.00':(wallet.commisionMinValue).toFixed(2) }}" type="text" class="form-control" id="commisionMinValue"  #commisionMinValue   >
            <input *ngIf="wallet.commisionMinValue=='0'" value="{{wallet.commisionMinValue==undefined  || null || '0'?'0.00':(wallet.commisionMinValue).toFixed(2) }}" type="text" class="form-control" id="commisionMinValue" #commisionMinValue  >


        </div>
        <div class="col-sm-3">
            <label for="commisionMaxValue" class="custom-label" translate>{{'WALLET.max.value' | translate}} </label>

            <input *ngIf="wallet.commisionMaxValue!='0'" value="{{wallet.commisionMaxValue==undefined  || null || 0?'0.00':(wallet.commisionMaxValue).toFixed(2) }}" type="text" class="form-control" id="commisionMaxValue" #commisionMaxValue  >
            <input *ngIf="wallet.commisionMaxValue=='0'" value="{{wallet.commisionMaxValue==undefined  || null || '0'?'0.00':(wallet.commisionMaxValue).toFixed(2) }}" type="text" class="form-control" id="commisionMaxValue" #commisionMaxValue >


        </div>
        
        <div class="col-sm-3">
            <label for="commisionAlertValue" class="custom-label" translate>{{'WALLET.alert.value' | translate}} </label>

            <input *ngIf="wallet.commisionAlertValue!='0'" value="{{wallet.commisionAlertValue==undefined  || null || 0?'0.00':(wallet.commisionAlertValue).toFixed(2) }}" type="text" class="form-control" id="commisionAlertValue" #commisionAlertValue>
            <input *ngIf="wallet.commisionAlertValue=='0'" value="{{wallet.commisionAlertValue==undefined  || null || '0'?'0.00':(wallet.commisionAlertValue).toFixed(2) }}" type="text" class="form-control" id="commisionAlertValue" #commisionAlertValue>


        </div>
    </div>

</div>
<div class="modal-footer">
    <button  type="button" (click)="onSubmit()" class="btn btn-primary px-3">
        <i class="fas fa-refresh"></i> {{'WALLET.update' | translate}}</button> &nbsp;&nbsp;
    <button type="button" (click)="activeModal.close('Close click')" class="btn btn-danger px-3"><i
            class="fas fa fa-times"></i> {{'WALLET.close' | translate}}</button>
</div>