::ng-deep .page-titles {
    margin-bottom: 5px;
    padding: 0p
  }
  .modal-body{
    max-height: 450px !important;
    overflow: auto !important;
  }

  /* input[type="text"]  {
    background-color: #fff;
} */

.unchanged-data  {
  background-color: #fff;
}