<div *ngIf="!user" class="spinner-aligning">
    <div class="spinner-border" role="status">
        <span class="sr-only">{{'APPROVAL.loading' | translate }}</span>
    </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div *ngIf="user">
    
    <div class="form-group row">
        
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.code'   }} </label>
            <input  type="text" class="form-control unchanged-data" id="code" [value]="user.code" disabled>
           
        </div>
        
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.roleName'   }}</label>
            <input *ngIf="this.unchanged.roleCode" type="text" class="form-control unchanged-data" id="role"
                [value]="user.roleName" disabled>
            <span *ngIf="!this.unchanged.roleCode" [ngbTooltip]="'earlier it was: '+ user.roleName">
                <input type="text" class="form-control" id="role" [value]="roleName" disabled>
            </span>
        </div>
    </div>
  
    <div class="form-group row">
        <!-- firstName -->
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.firstName'}}</label>
            <input *ngIf="this.unchanged.firstName" type="text" class="form-control unchanged-data" id="firstName"
                [value]="user.firstName" disabled>
            <span *ngIf="!this.unchanged.firstName" [ngbTooltip]="'earlier it was: '+ user.firstName">
                <input type="text" class="form-control " id="firstName" [value]="updatedInfo.firstName" disabled>
            </span>
        </div>
        <!-- lastName -->
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.lastName'}}</label>
            <input *ngIf="this.unchanged.lastName" type="text" class="form-control unchanged-data" id="lastName"
                [value]="user.lastName" disabled>
            <span *ngIf="!this.unchanged.lastName" [ngbTooltip]="'earlier it was: '+ user.lastName">
                <input type="text" class="form-control  " id="lastName" [value]="updatedInfo.lastName" disabled>
            </span>
        </div>
    </div>
    <!-- userName / aliasName -->
    <div class="form-group row">
        <!-- userName -->
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.userName'}}</label>
            <input *ngIf="this.unchanged.userName" type="text" class="form-control unchanged-data" id="userName"
                [value]="user.userName" disabled>
            <span *ngIf="!this.unchanged.userName" [ngbTooltip]="'earlier it was: '+ user.userName">
                <input type="text" class="form-control  " id="userName" [value]="updatedInfo.userName" disabled>
            </span>
        </div>
        <!-- aliasName -->
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.email'}}</label>
            <input *ngIf="this.unchanged.email" type="text" class="form-control unchanged-data" id="email"
                [value]="user.email" disabled>
            <span *ngIf="!this.unchanged.email" [ngbTooltip]="'earlier it was: '+ user.email">
                <input type="text" class="form-control " id="email" [value]="updatedInfo.email" disabled>
            </span>
        </div>
    </div>
    <!-- <div class="form-group row">
          
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.idProofNumber'}}</label>
            <input *ngIf="this.unchanged.idProofNumber" type="text" class="form-control unchanged-data" id="idProofNumber"
                [value]="user.idProofNumber" disabled>
            <span *ngIf="!this.unchanged.idProofNumber" [ngbTooltip]="'earlier it was: '+ user.idProofNumber">
                <input type="text" class="form-control  " id="idProofNumber" [value]="updatedInfo.idProofNumber" disabled>
            </span>
        </div>
        <div class="col-sm-3 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.idProfType'}}</label>
            <input *ngIf="this.unchanged.idProofTypeName" type="text" class="form-control unchanged-data" id="idProofTypeName"
                [value]="user.idProofTypeName" disabled>
            <span *ngIf="!this.unchanged.idProofTypeName" [ngbTooltip]="'earlier it was: '+ user.idProofTypeName">
                <input type="text" class="form-control  " id="idProofTypeName" [value]="updatedInfo.idProofTypeName" disabled>
            </span>
        </div>
        <div class="col-sm-3 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.IdexpityDate'}}</label>
            <input *ngIf="this.unchanged.idExpiryDate" type="text" class="form-control unchanged-data" id="idExpiryDate"
                [value]="user.idExpiryDate" disabled>
            <span *ngIf="!this.unchanged.idExpiryDate" [ngbTooltip]="'earlier it was: '+ user.idExpiryDate">
                <input type="text" class="form-control  " id="idExpiryDate" [value]="updatedInfo.idExpiryDate" disabled>
            </span>
        </div>
    </div> -->
    <div class="form-group row">
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.employeeId'}}</label>
            <input *ngIf="this.unchanged.employeeId" type="text" class="form-control unchanged-data" id="employeeId"
                [value]="user.employeeId==undefined?'':user.employeeId" disabled>
            <span *ngIf="!this.unchanged.employeeId" [ngbTooltip]="'earlier it was: '+ user.employeeId">
                <input type="text" class="form-control  " id="mobile" [value]="updatedInfo.employeeId==undefined?'':updatedInfo.employeeId" disabled>
            </span>
        </div>
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.mobileNumber'}}</label>
            <input *ngIf="this.unchanged.mobileNumber" type="text" class="form-control unchanged-data" id="mobile"
                [value]="user.mobileNumber" disabled>
            <span *ngIf="!this.unchanged.mobileNumber" [ngbTooltip]="'earlier it was: '+ user.mobileNumber">
                <input type="text" class="form-control  " id="mobile" [value]="updatedInfo.mobileNumber" disabled>
            </span>
        </div>
    </div>
    <div class="form-group row">
     
      
       
        <div class="col-sm-6 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.status'}}</label>
            <input *ngIf="this.unchanged.status" type="text" class="form-control unchanged-data" id="status"
                [value]="user.status" disabled>
            <span *ngIf="!this.unchanged.status" [ngbTooltip]="'earlier it was: '+ user.status">
                <input type="text" class="form-control " id="status" [value]="statusName" disabled>
            </span>
        </div>
        <div *ngIf="statusName=='Suspended' || user.status=='Suspended'" class="col-sm-3 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.fromdate'}}</label>
            <!-- <input *ngIf="this.unchanged.fromDate" type="text" class="form-control unchanged-data" id="fromDate"
                [value]="user.fromDate" disabled> -->
            <span [ngbTooltip]="'earlier it was: '+ user.fromDate==undefined?'NA': user.fromDate">
                <input type="text" class="form-control " id="fromDate" [value]="updatedInfo.fromDate==undefined?'': updatedInfo.fromDate" disabled>
            </span>
        </div>
        <div  *ngIf="statusName=='Suspended' || user.status=='Suspended'"  class="col-sm-3 parallel-col-margin">
            <label class="custom-label" translate>{{'USER.todate'}}</label>
            <!-- <input *ngIf="this.unchanged.toDate" type="text" class="form-control unchanged-data" id="toDate"
                [value]="user.toDate" disabled> -->
            <span   [ngbTooltip]="'earlier it was: '+ user.toDate==undefined?'NA': user.toDate">
                <input type="text" class="form-control " id="toDate" [value]="updatedInfo.toDate==undefined?'': updatedInfo.toDate" disabled>
            </span>
        </div>
    </div>
  
    
</div>