<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{'COUNTRY.countryTitle' | translate}} & {{'COUNTRY.currencyTitle' | translate}}</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header ">
                <h6 class="m-0 font-weight-bold text-primary">{{'COUNTRY.countryTitle' | translate}}</h6>
            </div>
            <div class="card-body">
                <div  id="errmsg">
                <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </div>
                <!-- <div>All regions : <a [routerLink]="['region']">click</a></div> -->
                <div *ngIf="fetchingData" class="spinner-aligning">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table *ngIf="!fetchingData" class="table table-bordered table-striped" datatable 
                    [dtOptions]="dtOption" width="100%"
                        cellspacing="0">
                        <thead>
                            <tr>
                                <th>{{'COUNTRY.name_label' | translate}}</th>
                                <th>{{'COUNTRY.isocode_label' | translate}}</th>
                                <th>{{'COUNTRY.currency_symbol_label' | translate}}</th>
                                <th>{{'COUNTRY.currency_label' | translate}}</th>
                                <th>{{'COMMON.action_label' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let country of countries; let i = index;">
                                <!-- <td><img class="country-img" src="assets/images/countries/{{country.image}}"
                                    alt="{{country.isoCode1}}"> {{ country.name }} </td> -->
                                <td><span class="flag-icon flag-icon-{{country.icon}}"></span> {{ country.name }} </td>
                                <td>{{ country.isoCode }}</td>
                                <td>{{ country.currencySymbol }}</td>
                                <td>{{ country.currencyCode }}</td>
                                <td>
                                    <a *ngIf="setPermission.view" (click)="viewCurrency(country.code)" style="cursor:pointer" placement="bottom"
                                        ngbTooltip="Edit Currency"><i class="fas fa-money text-primary"></i></a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>