<div class="bg-gradient-primary login-align-center">
    <div class="container">
        <!-- Outer Row -->
        <div class="row">
            <div class="col-xl-10 col-lg-12 col-md-9 mx-auto">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img class="mb-4 img-fluid" src="assets/images/logo.png" alt="logo">
                                        <h1 class="h4 text-gray-900 mb-2">{{ 'CHANGE_PASSWORD.changePasswordTxt' | translate }} 
                                        &nbsp;&nbsp; 
      
                                        </h1>
                                    </div>
                                    
                                    <ng-template #tipContent>
                                    <!-- <div class="text-left">
                                    <span> -->
                                        {{ 'CHANGE_PASSWORD.password.length' | translate }}
                                    <!-- </span> -->
                                   <hr>
                                    <!-- <span> -->
                                        {{ 'CHANGE_PASSWORD.password.character' | translate }}

                                    <!-- </span> -->
                                    <hr>
                                    <!-- <span> -->
                                        {{ 'CHANGE_PASSWORD.password.condition' | translate }}
                                    <!-- </span> -->
                                    <hr>
                                   <!-- </div> -->
                                </ng-template>
                                <ng-template  #passwordhintContent>
                                <!-- <div class="col-lg-5 mt-5"> -->
                                    <div class="card final-free-card">
                                        <div class="card-header  bgm">{{ 'CHANGE_PASSWORD.password.policy' | translate }}</div>
                                        <div class="card-body final-free-card-bg bgm">
                                            <div>{{ 'CHANGE_PASSWORD.password.length' | translate }}</div>
                                            <div>{{ 'CHANGE_PASSWORD.password.character' | translate }}</div>
                                            <div>{{ 'CHANGE_PASSWORD.password.condition' | translate }}</div>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </ng-template>
                                    <form [formGroup]="changePasswordForm" class="user">
                                        <div class="form-group">
                                            <div class="form-group input-group">
                                                <input type="password" class="form-control form-control-user"
                                                    formControlName="oldPassword" placeholder="{{ 'CHANGE_PASSWORD.oldPasswordTxt' | translate }}">
                                                    <!-- <div class="input-group-append">
                                                        <span class="input-group-text">
                                                          <i class="fa fa-eye-slash"></i>
                                                        </span>
                                                     </div> -->
                                                </div>
                                            <div class="form-group  input-group">
                                                <input type="password" class="form-control form-control-user"
                                                    formControlName="newPassword" placeholder="{{ 'CHANGE_PASSWORD.newPasswordTxt' | translate }}">
                                                    <!-- <div class="input-group-append">
                                                        <span class="input-group-text">
                                                          <i class="fa fa-eye-slash"></i>
                                                        </span>
                                                     </div> -->
                                                </div>
                                                
                                            <div class="form-group input-group">
                                                <input type="password" class="form-control form-control-user"
                                                    formControlName="confirmPassword" placeholder="{{ 'CHANGE_PASSWORD.confirmPasswordTxt' | translate }}   ">
                                                    <!-- <div class="input-group-append">
                                                        <span class="input-group-text">
                                                          <i class="fa fa-eye-slash"></i>
                                                        </span>
                                                     </div> -->
                                            </div>
                                            <div class="form-group">
                                                <div class="text-center">
                                            
                                            <i class="fas fa-info-circle"aria-hidden="true"  placement="top"
                                            [ngbTooltip]="passwordhintContent" ></i>
<!--                                             
                                              <div class="tooltipcss"><i class="fas fa-info-circle"aria-hidden="true" ></i>
                                                <span class="tooltiptextcss"> -->
                                                    
                                              
                                                     
                                                            <!-- <div class="card final-free-card">
                                                                <div class="card-header">Final Free Settings</div>
                                                                <div class="card-body final-free-card-bg">
                                                                    <div>Fee Value - $20</div>
                                                                    <div>Fee Value - 0%(not set)</div>
                                                                </div>
                                                            </div> -->
                                                   
<!--                                                     
                                                </span>
                                              </div> -->
 
                                            </div>
                                           </div>           
                                           <div *ngIf="errorMessage" class="row text-center error-message">
                                                <span class="margin-auto">{{ errorMessage }}</span>
                                            </div>
                                            <span *ngIf="!errorMessage && submitted && f.newPassword.errors" class="row text-center error-message">
                                               
                                               
                                                       <div *ngIf="f.newPassword.errors.required" translate>
                                                        {{'CHANGE_PASSWORD.pleaseprovidenewpassword' | translate}} </div>
                                              
                                                    <!-- <div *ngIf="f.newPassword.errors?.minlength" translate>
                                                        Password should have minimum 8 charector </div> -->
                                                        <div *ngIf="f.newPassword.errors?.pattern" translate>
                                                            {{'CHANGE_PASSWORD.pleaseseethepasswordhint' | translate}}</div>
                                            </span>
                                            <div class="form-group  ">
                                                <a class="btn btn-primary btn-user btn-block"
                                                    (click)="changePasswordSubmitted()">{{ 'CHANGE_PASSWORD.changePasswordTxt' | translate }}
                                                   
                                                </a>
                                                   
                                                    
                                            </div>
                                        </div>
                                    </form>
                                    <!-- <hr>
                                    <div class="text-center">
                                        <a (click)="onSkip()" href="javascript:void(0);" class="small">{{ 'CHANGE_PASSWORD.skipTxt' | translate }}</a>
                                    </div> -->
                                    <!-- <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="login.html">Already have an account? Login!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>