@import './../form.css';

::ng-deep .fa-info-circle {
    color: skyblue;
    font-size:25px;
    }
    .bgm{
      background-color: teal !important;
    }
    /* ::ng-deep .card-header{
        background-color: teal !important;
    }
    ::ng-deep .final-free-card-bg{
        background-color: teal !important;

    } */
    /* ::ng-deep .tooltip{
         
       
        background-color: #fff;
        color: #fff;
        text-align: right;
        border-radius: 0px; 
         
            /* text-overflow: clip;
            overflow: hidden;
            white-space: pre-line;  
           
            word-break: normal;
          
       
    } */
    /* ::ng-deep .tooltip{
        width:500px;
       
    } */

      ::ng-deep .tooltip-inner{
      background-color: #FFFFFF;
      max-width: 390px;
      font-size: small;
      text-align: left;
      }
    
  ::ng-deep .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before{
    border-right-color: #FFFFFF!important;
    
  }
  
  ::ng-deep .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before{
    border-left-color: #FFFFFF!important;
   
  }
  
  ::ng-deep .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{
    border-top-color: #FFFFFF!important;
  
   
  }
  
  ::ng-deep .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before{
    border-bottom-color: #FFFFFF!important;
   
  }
 
  /* ::ng-deep   .tooltip{
    position: relative;
    display: inline-block;
    width:300px;
  }  */
  
   


   .tooltipcss {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltipcss .tooltiptextcss {
    visibility: hidden;
    width: 200px;
    background-color: skyblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  
.tooltipcss:hover .tooltiptextcss {
    visibility: visible;
  }