 
        <!-- Card Body -->
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
             
                   <form > 
                                 
                                    <!-- <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="code" class="custom-label">code
                                            </label>
                                        
                                            <input  value="{{code}}" type="text" class="form-control"
                                            id="code"  readonly>
                                        </div>
                                        
                                
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="group_code" class="custom-label">group name
                                             </label>
                                         
                                             <input  value="{{group_code}}" type="text" class="form-control"
                                             id="group_code"  readonly>
                                        </div>
                                 
                                        <div class="col-sm-6">
                                        <label for="role_code" class="custom-label">role
                                             </label>
                                          
                                             <input  value="{{role_code}}" type="text" class="form-control"
                                             id="role_code"  readonly >
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="first_name" class="custom-label">first
                                            name  </label>
                                          
                                            <input  value="{{first_name}}"  type="text" class="form-control"
                                                id="first_name"  readonly>
                                            
                                        </div>
                                   
                                        <div class="col-sm-6">
                                        <label for="last_name" class="custom-label">last name 
                                  
                                        </label>
                                           
                                            <input value="{{last_name}}"  type="text" class="form-control"
                                                id="last_name"  readonly>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="user_name" class="custom-label">user
                                            name  </label>
                                         
                                            <input  value="{{user_name}}" type="text" class="form-control"
                                                id="user_name"  readonly>
                                          
                                        </div>
 
                                        <div class="col-sm-6">
                                        <label for="alias_name" class="custom-label">alias name 
                                        
                                        </label>
                                           
                                            <input value="{{alias_name}}" type="text" class="form-control"
                                                id="alias_name"  readonly>
                                           
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="email" class="custom-label">email</label>
                                           
                                           
                                            <input   readonly value="{{email}}" type="text" class="form-control" id="email">
                                             
                                        </div>
                             
                                        <div class="col-sm-6">
                                        <label for="national_id" class="custom-label">national
                                            id  </label>
                                          
                                            <input   readonly   value="{{national_id}}" type="text" class="form-control"
                                                id="national_id">
                                             
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="mobile_number" class="custom-label">mobile
                                            number  </label>
                                           
                                            <input   readonly value="{{mobile_number}}"type="text" class="form-control"
                                                id="mobile_number">
                                             
                                        </div>
                        
                                        <div class="col-sm-6">
                                        <label for="hr_id" class="custom-label">hr id
                                             </label>
                                            <input   readonly value="{{hr_id}}"  type="text" class="form-control" id="hr_id">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label for="bob_title" class="custom-label">job
                                            title  </label>
                                          
                                            <input readonly  value="{{bob_title}}" type="text" class="form-control"
                                                id="bob_title">
                                            
                                        </div>
                         
                                        <div class="col-sm-6">
                                        <label for="department_name"
                                            class="custom-label">department name
                                             </label>
                                         
                                            <input readonly  value="{{department_name}}" type="text" class="form-control"
                                                id="department_name">
                                            
                                        </div>
                                    </div>
                                  -->

                                  <div class="form-group row ">
                                    <label for="code" class="col-sm-6 col-form-label text-right">{{'USER.code' | translate }}:
                                        </label>
                                    <div class="col-sm-6">
                                         
                                        <input value= "{{code}}" type="text" class="form-control" id="code" disabled>
                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                  
                                    <label for="group_code" class="col-sm-6 col-form-label text-right">{{'USER.group' | translate }}:
                                        </label>
                            
                                        <div class="col-sm-6">
                                        <input value= "{{group_code}}" type="text" class="form-control" id="group_code" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="role_code" class="col-sm-6 col-form-label text-right">{{'USER.role' | translate }}:
                                        </label>
                                    <div class="col-sm-6">
                                        <input value= "{{role_code}}" type="text" class="form-control" id="role_code" disabled>

                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                    <label for="first_name" class="col-sm-6 col-form-label text-right">{{'USER.firstName' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{first_name}}" type="text" class="form-control" id="first_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="last_name" class="col-sm-6 col-form-label text-right">{{'USER.lastName' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{last_name}}" type="text" class="form-control" id="last_name" disabled>
                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                    <label for="user_name" class="col-sm-6 col-form-label text-right">{{'USER.userName' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{user_name}}" type="text" class="form-control" id="user_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="alias_name" class="col-sm-6 col-form-label text-right">{{'USER.aliasName' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{alias_name}}" type="text" class="form-control" id="alias_name" disabled>
                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                    <label for="national_id" class="col-sm-6 col-form-label text-right">{{'USER.nationalId' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{national_id}}"  type="text" class="form-control" id="national_id" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="mobile_number" class="col-sm-6 col-form-label text-right">{{'USER.mobileNumber' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input  value="{{mobile_number}}" type="text" class="form-control" id="mobile_number" disabled>
                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                    <label for="hr_id" class="col-sm-6 col-form-label text-right">{{'USER.hrId' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{hr_id}}" type="text" class="form-control" id="hr_id" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="bob_title" class="col-sm-6 col-form-label text-right">{{'USER.jobTitle' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{bob_title}}" type="text" class="form-control" id="bob_title" disabled>
                                    </div>
                                <!-- </div>
                                <div class="form-group row "> -->
                                    <label for="department_name" class="col-sm-6 col-form-label text-right">{{'USER.departmentName' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{department_name}}" type="text" class="form-control" id="department_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="state" class="col-sm-6 col-form-label text-right">{{'USER.state' | translate }}:</label>
                                    <div class="col-sm-6">
                                        <input value="{{state}}" type="text" class="form-control" id="state" disabled>
                                    </div>
                                <!-- </div>
                              
                                
                                <div class="form-group row "> -->
                                    <label for="status" class="col-sm-6 col-form-label text-right">{{'USER.status' | translate }}:</label>
                                    <div class="col-sm-6">
                                       <input type = "text" value="{{status}}" class="form-control" id = "status" disabled>
                                    </div>
                                </div>

                                   
                                    
                                </form>

                </div>
            </div>
        </div>
 
