::ng-deep .page-titles {
    margin-bottom: 5px;
    padding: 0p
  }
  .modal-body{
    max-height: 450px !important;
    overflow: auto !important;
  }
  .custom-modal-body{
    max-height: 550px !important;
    overflow: auto !important;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
   
  text-align:right;
}