<!--<p>
  fileformatdetails works!
</p>-->


<div class="form-group m-t-40">
  <div class="row">
      <div class="col-md-10">
          <h4 class="text-style">File Name Format : </h4>
          <p class="text-color text-style">VOUCHER_{{fileNameFormat}}-DD-MM-YYYY .txt</p>

          <h4 class="text-color text-style">Where :</h4>

          <div class="row">
              <div class="col-md-4">
                  <h4 class="text-color text-style">DD-MM-YYYY :</h4>
              </div>
              <div class="col-md-6">
                  <p class="text-color">Date of Upload</p>

              </div>
              <div class="col-md-2">

              </div>
          </div>

          <h4 class="text-style">Data Format :</h4>
          <p class="text-color">
              From Serial Number|To Serial Number|Quantity
          </p>
          <div class="row">
              <div class="col-md-4">
                  <p class="text-color">Where :</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <p class="text-color">From Serial Number - Mandatory</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <p class="text-color">To Serial Number - Optional</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <p class="text-color">Quantity - Mandatory</p>
              </div>
          </div>
          <h4 class="text-style">Note :</h4>
          <ol>
              <li class="text-color"> File name should be unique.</li>
              <li class="text-color"> Voucher from and to serial number should be of the same
                  product as mentioned in the record</li>
              <li class="text-color"> Total number of voucher in a record should be same as total
                  voucher. </li>
          </ol>

      </div>
